!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:charset => "utf-8"}/
    %meta{content: "Erstellung und Betreuung von Webapplikationen für Kleinunternehmen mit Ruby on Rails, jQuery, Cocoa (iOS).", name: "description"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use title if it's in the page YAML frontmatter
    %title #{current_page.data.title} | pixlig.at
    = stylesheet_link_tag "/vendor/bootstrap/css/bootstrap.css"
    = stylesheet_link_tag "/vendor/Font-Awesome/css/font-awesome.css", "/vendor/MyFonts-Novecento/MyFontsWebfontsKit.css", "http://fonts.googleapis.com/css?family=PT+Serif"

    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body{:class => page_classes}
    = yield
